header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1); /* Shadow only at the bottom */
    z-index: 1000;
}

/* header > *{
    padding : 0 20px;
} */

h1{
    padding-top: 40px;
}

.loading-circle {
    display: none;
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-success {
    display: none;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-size: contain;
}
.loading-success svg{
    width: inherit;
    height: inherit;
}

#accountDropdownContainer {
    margin: 20px 0;
}

#accountDropdown {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
}

#copyButton {
    padding: 10px;
    cursor: pointer;
}

#copiedMessage {
    color: green;
    margin-top: 10px;
}

.header-content {
    display: flex;
    width: calc(100% - 40px);
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
}

.user-address {
    flex-grow: 1;
    font-weight: bolder;
}

.user-dropdown select {
    padding: 5px;
    border: none;
    border: 1px solid #ccc; /* Add border */
    border-radius: 5px;
}